<div class="container-sm mt-5 " style=" width: 40%; ">
    <form>
        <h5 style="margin-left: 51.5%;">إعادة تعيين كلمة المرور</h5>
        <div class="form-row mt-4"style="margin-left: 74.5%;">رقم الجوال</div>
        <div class="form-row mt-2">


            <div class="row ">
                <div class="col-sm-6" >
                    <div class=" rounded-5 pt-1" style="background-color:rgba(217, 217, 217, 1); border-collapse: collapse; 
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset; height: 80.5%; width: 20%;margin-left:90% ; ">
                        <h6 class="mx-1">+963</h6>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <input type="tel" class="form-control rounded-5" id="PhNum" name="phoUser"  style="
                    background-color:rgba(217, 217, 217, 1); border-collapse: collapse; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset; height:  80.5%;width: 75%;margin-left: 0.5%;">
                </div>

            </div>
        </div>
       
        <div class="form-row " style="margin-left: 10.2%;">
            سوف يتم إرسال رمز مكون من 6 أرقام لإعادة تعيين كلمة المرور
        </div>
        <div class="form-row">
            <button type="submit" class=" rounded-4 mt-4 mb-2 " value="Submit" routerLink="/reset-password1" style="box-shadow:  0 4px 4px 0 rgba(0, 0, 0, 0.25) ;border:none; outline:none;height: 30px;width: 10%;background-color: rgba(255, 202, 0, 1);color: rgba(0, 0, 0, 1); font-weight:490;
    margin-left: 29.8%;
    font-size: small;">
                تم
            </button>

        </div>
       
    </form>
</div>