
<footer class="bg-dark text-center text-white" >
    <!-- Grid container -->
    <div class="container p-1">
        <!-- Section: Social media -->
        <section >
            <div class="row">
                <div class="col-4 align-self-end text-start" >
                    <p>      جميع الحقوق محفوظة © </p>
                </div>
                <div class="col-4 pt-3">
                    <h5>تواصل معنا</h5>

                    <div>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>

                    <!-- Google -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-camera"
                            aria-hidden="true"></i>
                    </a>

                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-envelope"
                            aria-hidden="true"></i>
                    </a></div>
                </div>
                <div class="col-4 text-end pt-3" >
                    <a class="navbar-brand "href="#">
                        <img src="assets/Component 1.png" alt="logo" style="width:80px; height:40px">
                    </a>
                    <div class="pt-3">
                        

                        <ul class="list-unstyled mb-0 navbar-nav ms-auto fw-bold">
                            <li>
                                <a  href="/search" class="text-white text-end">تصفح الطلبات</a>
                            </li>
                            <li class="pt-1">
                                <a routerLink="/contents" class="text-white">اطلب</a>
                            </li>
                            <li class="pt-1">
                                <a href="#!" class="text-white">احصائيات</a>
                            </li>
                            <li class="pt-1">
                                <a href="#!" class="text-white">مركز المساعدة</a>
                            </li>
                            <li class="pt-1">
                                <a href="#!" class="text-white">عنا </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>



    </div>

</footer>