
<div class="container">

    <div class="row align-items-center">
        <div class="col">
            <div class="hellotext">
                أطلب أي خدمة عبر الإنترنت بسهولة وأمان وأحصل على أفضل سعر وأفضل وقت
                
            </div>
            <div class="row" style="height: 30px;"></div>
            <div class="row justify-content-center"> 
                <div class="col-2">
                    <button class="startbutton" routerLink="/createaccount">ابدأ</button>
                </div>
                <div class="col-2">
                    <button class="browsebutton" routerLink="/search">تصفح</button>
                </div>                            
            </div>
            
        </div>
        <div class="col d-none d-md-block">
            <img class="img1" src="././assets/home.png">
        </div>
    </div>
    <div class="row" style="height: 80px;"></div>
    <div class="row">
            <div class=" col-md-3 col-sm-12 text-center">
                <img src="././assets/pay.png" class="img-fluid im">
                <p class="title"> ادفع بأمان واضمن حقوقك كاملة </p>
                <p class="text">ادفع قيمة العمل المطلوب عبر وسائل دفع آمنة مع ضمان كامل لحقوقك المالية</p>
            </div>
            <div class=" col-md-3 col-sm-12 text-center">
                <img src="././assets/Vector.png" class="img-fluid im">
                <p class="title">اختر الحل المناسب لك بأقل كلفة</p>
                <p class="text">حدد الميزانية المناسبة لمشروعك واختر من بين المطورين الخبراء للعمل على إنجاز المطلوب</p>
            </div>
            <div class=" col-md-3 col-sm-12 text-center">
                <img src="././assets/clockVector.png" class="img-fluid im">
                <p class="title"> أنجز عملك بسرعة وسهولة  </p>
                <p class="text">احفظ وقتك وحدد أقصى موعد للتسليم واختر أفضل حل قدم لك</p>

            </div>
            <div class=" col-md-3 col-sm-12 text-center">
                <img src="././assets/clarity_shield-check-solid.png" class="img-fluid im">
                <p class="title">قدم أي حل بسرية وخصوصية تامة</p>
                <p class="text">احفظ حقوقك بشكل كامل حيث يقوم موقعنا بدور الوسيط بينك وبين المطور</p>
            </div>
    </div>
    <div class="row" style="height: 80px;"></div>
    <div class="row">
        <div class="col-md-3 col-sm-12 text-center" >
            <p class="title2">
                {{devlopers}}
            </p>
            <p class="title2">
                مطور
            </p>
            <p style="height: 60px;"></p>
        </div>
        <div class="col-md-3 col-sm-12 text-center">
            <p class="title2">
                {{posts}}
            </p>
            <p class="title2">
                طلب
        </p>
        <p style="height: 60px;"></p>

        </div>
        <div class="col-md-3 col-sm-12 text-center">
            <p class="title2">
                {{users}}
            </p>
            <p class="title2">
                مشترك
            </p>
            <p style="height: 60px;"></p>
        </div>
        <div class="col-md-3 col-sm-12 text-center">
            <p class="title2">
                {{offers}}
            </p>
            <p class="title2">
                عرض
            </p>
            <p style="height: 60px;"></p>
        </div>
    </div>
    <div class="row text2 text-center" style="background-color: #f8f9fa;text-align: justify;">
        <p>
        طلبات هو منصّة تصل بين أصحاب المشاريع والمطورين في سورية. إن كنت صاحب مشاريع تستطيع استخدام طلبات لانجاز مشاريعك من خلال الانترنت بسهولة وأمان وتستطيع كمستقل تصفّح المشاريع الموجودة وإضافة عروضك على المشاريع التي تستطيع إنجازها. يضمن طلبات حقوقك كاملة ويعمل كوسيط بين صاحب المشروع والمطور.
        </p>
    </div>
    <div class="row" style="height: 80px;"></div>
    <!-- <div class="row">
        <div class="col">
            <ul class="title" style="text-align: right;">
                كيف تبدأ ؟
                <li class="text">قم بإنشاء حساب</li>
                <li class="text">اذهب إالى صفحة اطلب لنشر أي طلب تريده</li>
                <li class="text">إذهب إلى تصفح الطلبات إذا وددت العمل وتقديم العروض</li>
            </ul>
        </div>
    </div> -->
</div>

