<div class="container-sm mt-5 " style=" width: 40%; ">
    <form #userForm="ngForm" style="margin-right: 15%;" (ngsubmit)="newpassuser()" required passwordMatch>
        <h5 style="margin-left: 49.5%;">إعادة تعيين كلمة المرور</h5>
        <div class="form-row mt-4"style="margin-left: 65.5%;">كلمة السر الجديدة</div>
        <div class="form-row mt-2">
              
          <input #pass="ngModel" type="tel" class="form-control rounded-5" id="PhNum" name="phoUser"  style="
            background-color:rgba(217, 217, 217, 1); border-collapse: collapse; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset; height:  30px;width: 60%;margin-left: 32%;"
                [(ngModel)]="newpassUser.password" required pattern="'^((?!.*[s])(?=.*[A-Z])(?=.*d).{8,99})'"[class.is-invalid]="pass?.errors?.['pattern']">
                <div class="row"  *ngIf="pass?.errors?.['pattern']"
                            style="margin-left: 68.4%; font-size:70%;" class="text-danger">

                            كلمة السر غير مناسبة

                        </div>
          
        </div>
        <div class="form-row mt-4"style="margin-left: 56.8%;">تأكيد كلمة السر الجديدة</div>
        <div class="form-row mt-2">
              
          <input #confirmpass="ngModel" type="tel" class="form-control rounded-5" id="PhNum" name="phoUser"  style="
            background-color:rgba(217, 217, 217, 1); border-collapse: collapse; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset; height:  30px;width: 60%;margin-left: 32%;"
             [(ngModel)]="newpassUser.confirmpassword"  required  pattern="'^((?!.*[s])(?=.*[A-Z])(?=.*d).{8,99})'"  >
             <div *ngIf="confirmpass?.errors?.['UnmatchedPassword']" style="margin-left: 56.2%; font-size:70%;" class="text-danger">
                تأكيد كلمة السر يجب أن تطابق كلمة السر
             </div>
          
        </div>
       
        <div class="form-row">
            <button type="submit" class=" rounded-4 mt-4 mb-2 "   value="Submit"routerLink="/login" style="box-shadow:  0 4px 4px 0 rgba(0, 0, 0, 0.25) ;border:none; outline:none;height: 30px;width: 10%;background-color: rgba(255, 202, 0, 1);color: rgba(0, 0, 0, 1); font-weight:490;
    margin-left: 22.8%;
    font-size: small;">
                تم
            </button>

        </div>
       
    </form>
</div>

